* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.weather-title {
    padding: 0%;
    text-align: center;
    background-color: blue;
    background-size: 100%;
    color: white;
}

.current-info {
    display: flexbox;
    padding: 70px;
    max-width: 70%;
    max-height: 70%;
}

.container {
    border: blue 4px solid ;
}